attrs==25.4.0
autocommand==2.2.2
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
distlib==0.4.0
filelock==3.24.0
gps==3.27.5
idna==3.11
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
libfdt==1.7.2
libvirt-python==12.1.0
louis==3.36.0
more-itertools==10.8.0
netifaces==0.11.0
nftables==0.1
packaging==26.0
pipenv==2026.0.2
pkg_resources==81.0.0
platformdirs==4.9.4
pycairo==1.29.0
pycparser==2.23
PyGObject==3.54.5
PyQt5==5.15.11
PyQt5_sip==12.18.0
python-discovery==1.1.1
qasync==0.28.0
Reflector==2023.6.28.0.36.1
requests==2.32.5
setuptools==82.0.0
smbus==1.1
stevedore==5.4.0
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.1.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
wheel==0.46.3
