video {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
}

.camera-container {
  position: relative;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.preview-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}

.preview-container img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}